:root {
  --yellow: #fbf3ab;
  --light-pink: #f0b9dd;
  --lavender: #c7b9ff;
  --deep-pink: #f04c86;
  --raisin: #2b283a;
  --white: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 500px;
  color: var(--raisin);
  background-color: var(--light-pink);
  font-family: "Karla", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paragraph {
  background: var(--yellow);
  color: var(--raisin);
  min-width: 270px;
  padding: 1em;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 5px;
}

button {
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 5px;
  border: none;
  padding: 1em 2em;
  color: var(--white);
  background: var(--deep-pink);
}

button:hover,
button:focus {
  transform: scale(1.02);
  cursor: pointer;
}

/* custom classes */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form * {
   padding: .5em;
   font-size: 1.3rem;
   font-family: inherit;       
}

form label {
   font-weight: 700;
}

form *:not(label) {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    border: none;
}

.input-text {
    margin-bottom: 2rem;
}

.letter-box {
  display: inline;
  position: relative;
}

.letter {
  position: relative;
  transition: all 0.5s ease;
  /* margin-right: .08rem; */
}

.letter-fixed {
  position: absolute;
  bottom: 1.5rem;
  left: 0rem;
  opacity: 0;
  transition: all 1s ease;
}

.active {
  opacity: 1;
  bottom: 0rem;
}

.inactive {
  bottom: -1rem;
  opacity: 0;
}
